<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Carlos Magno Nascimento">
    <link rel="shortcut icon" href="static/img/cube.png" type="image/x-icon">
    <title>DotLand</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <h1>DOTLAND</h1>
    <div id="game-box">
        <div id="left-side">
            <canvas id="canvas"></canvas>
            <div id="nickname-box">
                <label for="nickname-input">Nickname</label><br>
                <input type="text" id="nickname-input" value="DOT">
            </div>
        </div>
        <div id="right-side">
            <p><b>Score</b></p>
            <div id="score-box"></div>
        </div>
    </div>
    <script src="static/js/socket.io.js"></script>
    <script src="static/js/game.js"></script>
</body>
</html>